#abilities {
  background-color: var(--neutral);
  padding-bottom: 60px;
}

#abilities .tech-slide{
  display: flex;
  align-items: center;
  justify-content: center;
}

#abilities .logos-container {
  width: 95%;
  max-width: 700px;
  height: 150px;
}

#abilities .logos{
  position: relative;
  width: 100%;
  height: 100%;
}

:root {
  --space_1: 22%;
  --space_2: 38%;
  --size: 200px;
}

#abilities .logos .tech-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  width: var(--size);
  transform: translate(-50%, -50%);
  transition: 0.3s;
  text-align: center;
}
#abilities .logos .tech-logo svg{
  transition: 0.3s;
}


#abilities .tech-logo.right_1{
  left: calc(50% + var(--space_1));
}

#abilities .tech-logo.right_2,
#abilities .tech-logo.right{
  left: calc(50% + var(--space_2));
}

#abilities .tech-logo.left_1{
  left: calc(50% - var(--space_1));
}

#abilities .tech-logo.left_2,
#abilities .tech-logo.left{
  left: calc(50% - var(--space_2));
}

#abilities .tech-logo.left_1 svg,
#abilities .tech-logo.right_1 svg {
  width:  calc(var(--size) * 0.8);
}

#abilities .tech-logo.left_2 svg,
#abilities .tech-logo.right_2 svg {
  width:  calc(var(--size) * 0.4);
  opacity: 0.6;
}

#abilities .tech-logo.left svg,
#abilities .tech-logo.right svg{  
  width: 0;
  opacity: 0;
}

#abilities .logos .tech-logo > * {
  transform: scale(0.75);
  opacity: 0.9;
}

#abilities .tech-logo svg *{
  stroke: var(--dark_2);
  fill: var(--dark_2);
}


#abilities .tech-logo.selected {
  z-index: 2;
}

#abilities .tech-logo.selected svg{
  width: calc(var(--size) * 1.1);
}

#abilities .tech-logo.selected svg *{
  stroke: var(--light);
  fill: var(--light);
}

#abilities .tech_info {
  margin: 0 auto;
  width: 95%;
  max-width: 1000px;
}

#abilities h3 {
  color: var(--light);
  font-size: 40px;
  font-weight: 600;
  width: 100%;
  line-height: 70px;
  border-bottom: 2px solid var(--dark_1);
  margin: 20px 0 64px;
}

#abilities .infos {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

#abilities .logo-icon {
  text-shadow: 0 0 6px var(--neon);
}

#abilities .logo-icon svg{
  width: 200px;
 
  animation: wave 6s infinite ease-in-out;
  /* transition: 0.4s; */
}

#abilities .logo-icon svg *{
  fill: var(--light);
  stroke: var(--light);
}

#abilities .description p {
  color: var(--white);
  font-weight: 300;
  font-size: 18px;
  max-width: 500px;
}

@media (max-width: 834px) {
  
  
  :root {
    --space_1: 22%;
    --space_2: 38%;
    --size: 25vw;
  }
  
}

@media (max-width: 550px) {

  #abilities h3 {
    margin-bottom: 30px;
  }

  #abilities .logo-icon {
    display: none;
  }

  :root {
    --space_1: 22%;
    --space_2: 38%;
    --size: 25vw;
  }

  #abilities .tech-logo.selected .icon{
    transform: scale(1) translateY(-10px);
  }

  #abilities .section-title {
    padding-bottom: 15px;
  }

}