@keyframes blink {
  0% {
    opacity: 0;
  }
  1%{
    opacity: 100%;
  }
  49% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 0;
  }
}

@keyframes wave {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes neon {
  0% {
    filter: drop-shadow(0 0 40px var(--neutral));
  }
  50% {
    filter: drop-shadow(0 0 30px var(--neutral));
  }
  100% {
    filter: drop-shadow(0 0 40px var(--neutral));
  }
}