button {
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  border-radius: 10px;
  border: 0;
  outline: 0;
  transition: 0.4s;
  transition-property: transform;
  user-select: none;
  font-weight: 600;
}

button.light {
  background-color: var(--light);
  color: var(--dark_1);
}

button.dark {
  background-color: var(--dark_2);
}

button:hover {
  box-shadow: 0 2px 4px var(--dark_1);
  
  transform: translateY(-1px) scale(1.03);
}